# Database Configuration
DATABASE_URL=your_database_url_here

# VAPID Keys for Push Notifications
VAPID_PUBLIC_KEY=BBzBPZHNrYd4yMkW5THmC2vPYHfausBF5_eCaql-9eo8c0Y2ibr6O0znOXLZ7zAs9qSYf1GfHJIcaKF1XWo5BMY
VAPID_PRIVATE_KEY=gc-RA0w3RET4Zyd4HGAnk-L_KFtRO61NtxGO8f849xQ

# AI Configuration
GEMINI_API_KEY=your_gemini_api_key_here

# Authentication
SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Supabase
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key